
  
  body {
    background-image: url("https://images.unsplash.com/photo-1535293931721-68bd99f790b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-attachment: fixed;
    margin: 0;
    color: rgb(194, 194, 194);
  }
 
  .cutepic{
    padding: 0 auto;
    text-align: center;
  }
   .cutepic img{
    max-width: 400px;
    height: auto;
   }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    margin: 0 50px;
  }
  
  .warning {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #d6d6d6;
    text-decoration: none;
  }
  
  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-right: 10px;
  }
  
  footer a {
    color: #ffffff;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
  
    nav ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  /* Styles for header, footer, slider, and media queries */

.quotes {
  max-width: 960px;
  margin: 400px auto 50px auto;
  padding: 20px;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  color: #fafff8;
  animation: fade 10s infinite;
  
}

@keyframes fade {
  0% { opacity: 0; }
  25% { opacity: 1; }
  75% { opacity: 1; }
  100% { opacity: 0; }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #00000094;
  padding: 100px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.image {
  flex-basis: 45%;
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  flex-basis: 50%;
}

/*gallery*/

div.gallery {
  margin: 25px;
  border: none;
  float: left;
  width: 180px;
  padding: auto;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
  